@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

*{
    font-family: 'Inter', sans-serif;
    background-color: rgb(244, 244, 244);
}

th, td {
    padding: 8px 5px 8px 5px;
    background-color: rgb(255, 255, 255);
  }